# Created by Gemini

# Android build files
build/
.gradle/
local.properties

# IDE files
.idea/
*.iml

# Keystore files
*.keystore

# Log files
*.log

# Test files
captures/

# Native build files
.cxx/

# Other
*.hprof

# Android SDK
/tools/
/platform-tools/
/build-tools/
/platforms/
/add-ons/
/sources/
/system-images/
/docs/
/samples/
/extras/

# Command line tools zip file
commandlinetools-*.zip
